<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Las Direcciones</title>
</head>

<body>
    <h1>Las Direcciones (Total: {{ numero }})</h1>
    <table border="1">
        <tr>
            <th>Estudiante</th>
            <th>Tipo Dirección</th>
            <th>Dirección</th>
        </tr>
        {% for d in datos %}
        <tr>
            <td>{{ d.estudiante }}</td>
            <td>{{ d.tipo_direccion }}</td>
            <td>{{ d.direccion }}</td>
        </tr>
        {% endfor %}
    </table>
</body>

</html>